<?xml version="1.0"?>
<ruleset name="SatisPress">
	<description>The code standard for the SatisPress plugin.</description>

	<!-- What to scan -->
	<file>.</file>
	<exclude-pattern>node_modules/</exclude-pattern>
	<exclude-pattern>vendor/</exclude-pattern>

	<!-- How to scan -->
	<arg value="sp"/> <!-- Show sniff and progress -->
	<arg name="basepath" value="."/><!-- Strip the file paths down to the relevant bit -->
	<arg name="colors"/>
	<arg name="extensions" value="php"/>

	<!-- Rules: Good use of variables -->
	<!-- <rule ref="VariableAnalysis"/> -->

	<!-- Rules: Check PHP version compatibility -->
	<config name="testVersion" value="5.6-"/>
	<rule ref="PHPCompatibility"/>

	<!-- Rules: WordPress Coding Standards -->
	<config name="minimum_supported_wp_version" value="4.9"/>
	<rule ref="WordPress">
		<exclude name="WordPress.VIP"/>
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array" value="satispress"/>
		</properties>
		<exclude-pattern>views/</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.ValidFunctionName">
		<exclude-pattern>includes/class-satispress-version-parser.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<exclude-pattern>includes/class-satispress-version-parser.php</exclude-pattern>
	</rule>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="satispress"/>
		</properties>
	</rule>
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing">
		<properties>
			<property name="blank_line_check" value="true"/>
		</properties>
	</rule>

</ruleset>