<?xml version="1.0"?>
<phpunit
	backupGlobals="false"
	bootstrap="tests/phpunit/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">

	<testsuites>
		<testsuite name="Unit">
			<directory>./tests/phpunit/Unit</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory>./tests/phpunit/Integration</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
		</whitelist>
	</filter>
</phpunit>
