/* Plugins Screen
------------------------------------------------------------------------------*/

.column-satispress input[type="checkbox"] {
	float: left;
	margin-top: 4px;
}

.column-satispress .spinner {
	float: left;
}


/* Settings Screen
------------------------------------------------------------------------------*/

.satispress-tab-panel {
	display: none;
}

.satispress-tab-panel.is-active {
	display: block;
}

.satispress-field-error {
	color: #ff0000;
}

.satispress-package {
	margin-top: 20px;
}

.satispress-package thead th {
	color: #000;
}

.satispress-package tbody th {
	width: 150px;
}

.satispress-repository-snippet {
	background: #333;
	color: #fff;
	line-height: 1.2;
	padding: 10px;
}

.satispress-repository-snippet code {
	background: transparent;
}

.satispress-card {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	margin-top: 20px;
	max-width: 620px;
	padding: 0.7em 2em 1em;
	position: relative;
}

.satispress-release.button {
	line-height: 22px;
	height: 24px;
	padding-left: 6px;
	padding-right: 6px;
}

.satispress-release-actions {
	background: #f9f9f9;
	border: 1px solid #dedede;
	margin-top: 1em;
}

.satispress-release-actions input {
	background: #fff;
}
